.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: 0.5s ease;
}

.app-dark {
  background-color: #161616;
  transition: 0.5s ease;
}

.sw-wrapper {
  width: 60px;
  height: 30px;
  border-radius: 50px;
  background-color: #aad2ee;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.sw-knob-mode {
  transition: left ease 0.5s;
  position: absolute;
  width: 27px;
  height: 27px;
  left: 2px;
  top: 1px;
  background: #ffffff;
  border-radius: 50px;
  box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.15), 0px 3px 1px rgba(0, 0, 0, 0.06);
}

.sw-knob-mode::after {
  content: "";
  width: 4px;
  height: 4px;
  background-color: #ffffff;
  border-radius: 20px;
  position: absolute;
  left: 1em;
  top: 0.8em;
  transition: ease 0.7s;
  transition-delay: 0.5s;
  opacity: 0;
}

.sw-knob-mode::before {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  border-radius: 20px;
  position: absolute;
  left: 1em;
  top: 0.3em;
  transition: ease 0.2s;
  transition-delay: 0.5s;
  opacity: 0;
}

.sw-light-mode::after {
  content: "";
  width: 4px;
  height: 4px;
  background-color: #ffffff;
  border-radius: 20px;
  position: absolute;
  left: 2.2em;
  top: 0.8em;
  opacity: 1;
}

.sw-light-mode::before {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  border-radius: 20px;
  position: absolute;
  left: 2.6em;
  top: 0.3em;
  opacity: 1;
}

/* Dark Mode Knob */
.sw-wrapper-dark {
  background: #2e2e2e;
}

.sw-dark-mode {
  left: 1.9em;
  transition: left ease 0.5s;
}

.sw-knob-dark-mode {
  transition: left ease 0.5s;
  position: absolute;
  width: 27px;
  height: 27px;
  left: 1.9em;
  top: 1px;
  background: #ffffff;
  border-radius: 50px;
  box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.15), 0px 3px 1px rgba(0, 0, 0, 0.06);
  /* overflow: hidden; */
}

.sw-knob-dark-mode-reupdate::before {
  background-color: #2e2e2e !important;
}

.sw-knob-dark-mode::before {
  content: "";
  width: 27px;
  height: 27px;
  background-color: #ffffff;
  border-radius: 50px;
  position: absolute;
  z-index: 999;
  left: -0.5em;
  top: -0.4em;
  opacity: 1;
}

.sw-star-dark {
  position: absolute;
  right: 1.6em;
  top: 0.2em;
  z-index: 999;
  transition: 0.3s ease;
  opacity: 0;
}

.sw-star-dark-opacity-show {
  opacity: 1;
  transition: 1s ease-in;
}

.sw-opacity-hide {
  opacity: 0;
  transition: 0.3s ease-out;
}

.sw-opacity-show {
  opacity: 1;
  transition: 0.3s ease-in;
}
